/* This file is for your main application css. */

@import "node_modules/bulma/bulma";
@import 'node_modules/font-awesome/scss/font-awesome';

.narwhal-grid-table {
  border-spacing: 5px;
}

.narwhal-grid-table td,
.narwhal-grid-table th {
  border: 1px solid #999;
  padding: 5px;
  text-align: left;
  min-width: 35px;
  min-height: 40px;
}
