<table class="narwhal-grid-table">
  <thead></thead>
  <tfoot></tfoot>
  <tbody>
    <%= for x <- 1..16 do %>
      <tr class="narwhal-grid-row">
        <%= for y <- 1..16 do %>
          <td class="narwhal-grid-cell"
              style="background-color:<%= get_color(x, y)%>">
             &nbsp;
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
