/* some style */

.pixel-grid {
  display: grid;
  width: 512px;
  grid-template-columns: repeat(16, 30px);
  grid-template-rows: repeat(16, 30px) [footer] 64px;
  gap: 2px;
}

.pixel-cell {
  background-color: #444;
  color: #fff;
  font-size: 150%;
  height: 30px;
  min-height: 30px;
  width: 30px;
  min-width: 30px;
  cursor: crosshair;
}

.pixel-footer {
    grid-row: footer;
    grid-column: 1 / 17;
}
